@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ####################################### */


body{
    font-family: 'Raleway' ;
}

header {
	height: 12em;
	background: rgb(54,110,216);
	background: radial-gradient(circle, rgba(54,110,216,0.8211659663865546) 0%, rgba(2,23,71,1) 100%);
    display: flex;
    justify-content: center;

}

main{

}

.card-container{
	display: flex;
	flex-wrap: wrap;
    margin: 3em;
	width: 100%;
	justify-content: center;
}


#team-picture-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 10em;
}
.team-picture{
width: 35em;
padding-top: 1em;
}



.small-frisbee-logo{
	width: 2em;
}

.team-logo{
    width: 7em;
    height: 7em;
}

.player-picture{
	width: 15.5em;
	height: 20em;
	margin: 5em;
}

.card{
	padding: 2em;
	height: 30em;
	margin-right: 8em;
	margin-bottom: 2em;
	margin-top: 3em;
}

.card-title{
font-size: 1.5em;
}

.card-img-top{
	height: 18em;
	padding-bottom: 1em;
}

.flatiron_logo{
	width: 16em;
	height: 16em;
	margin-top: -10em;
}

.image-container{
	display: flex;
	justify-content: center;
}